<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <h1>Todo App 📝</h1>
        <input type="text" v-model="newTodo" placeholder="Add Todo">
        <button id="btn-add" @click="addTodo">Hinzufügen</button>
        <div>
            <label>
                <input type="radio" v-model="todoFilter" value="all"> All
            </label>
            <label>
                <input type="radio" v-model="todoFilter" value="open"> Open
            </label>
            <label>
                <input type="radio" v-model="todoFilter" value="done"> Done
            </label>
        </div>

        <button id="btn-remove" @click="removeDoneTodos">Remove</button>
        <ul>
            <li v-for="todo in filteredTodos" :key="todo.id">
                <label>
                    <input type="checkbox" v-model="todo.done" @change="updateTodo(todo)">
                    {{ todo.description }}
                </label>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="main.js"></script>
</body>

</html>